.body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#webSiteName {
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 2px red;
}


#cartIconDiv {
    background-color: rgb(239, 250, 84);
}

#cartIcon:hover {
    transform: scale(1, 2);

}


#mapDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px double rgb(228, 104, 3);


}

#parentDiv {
    margin: 0 auto;

}

#h4Id {
    text-align: left;
    text-shadow: 1px 1px 2px blue;
}

#info {
    padding: 10px;
    padding-bottom: 40px;
}

#imageDiv {
    padding: 20px;
}

#image {

    width: 190px;
    height: 180px;
}


#state {
    text-align: center;
}

#imageCart {
    width: 50px;
    height: 50px;
}

#infoCartDiv {
    font-size: xx-small;
    text-align: center;
}

#btn1 {
    background-color: black;
    color: gold;
    border-radius: 8px;
    text-shadow: 2px 2px 2px red;
}

#btn1:hover {
    transform: scale(1, 2);
}